# Python
**/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.db
*.sqlite3

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Logs & Environment
*.log
.env
.env.local
.env.*.local

# Operating System & IDE
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
